body{
overflow:hidden;
}

#header {
    width: 101%;
    height: 100px;
    background-color: #989898;
    margin: -10px;
    padding: 0;
}



#logo {
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
}


img {
width: 120px;
height: 80px;
}




#main {
width: 900px;
height: 900px;
border-radius: 5%;
background-color: #C4C4C4;
margin-top: 30px;
position:absolute;
left: calc(50% - 450px);

}

.line1{
background:#737373;
border-radius: 20px;
text-align:center;
position:relative;
left:calc(50% - 350px);
width:700px;
height:70px;
margin-top:4px;
}


